.example-card {
  max-width: 25%;
  margin: 5px;
}
.main-container{
  display: flex;
  flex-wrap: wrap;
}
.example-header-image {
  background-image: url('https://robimywedliny.pl/userdata/public/gfx/76a0f71459aa7b00d5212b7a19e6feb4.jpg');
  background-size: cover;
}
